<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>malumot</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
    <center>
        <h1>Qo'toqni yebsan chekasanku !</h1>
        <h1>Noto'g'ri Javob uchun Umidga birpachka Sigaret qarzsan.</h1>
        <h2>Mardakcha xuyet qilma sigaretni cho'z</h2>
    </center>
    {% endblock content %}
</body>
</html>