<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umid</title>
</head>

<body>
    <center>
        <h1>Nos chekasanmi ???
            <header>
                <button><a href="{% url 'about' %}">Javob ???</a></button>
                <button><a href="{% url 'umid' %}">Ha</a></button>
                <button><a href="{% url 'home' %}">Yoq</a></button>
            </header>
        </h1>
    </center>

    {% block content %}
    <center>
        <h1>Dalbayob man</h1>
        <h1>Xa san bu gapni xozir aytding, Xa san Dalbayobsan</h1>
        <h2>Fuck you</h2>
    </center>
    {% endblock content %}

</body>

</html>