<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
</head>
<body>
    {% extends 'main.html' %}
    
    {% block content %}
    <center>
        <h1>To'g'ri javob berganiz uchun 2 pachka nos yutib oldingiz</h1>
        <h2>Sovrinni Jahongir Dovutdan olasan</h2>
        <h1>Dovut Jahongirdan olasan</h1>
    </center>
    {% endblock content %} 
</body>
</html>